GENERIC_TIMEZONE=Europe/Amsterdam
TZ=Europe/Amsterdam
N8N_PORT=5678
NOCODB_PORT=8080
POSTGRES_DB=nocodb
POSTGRES_USER=nocodb
POSTGRES_PASSWORD=nocodb
NC_AUTH_JWT_SECRET=change-me-for-anything-beyond-local-dev
